.fondo {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  color: #c2c5aa;
  background-color: #414833;
  border: none;
  font-size: 14px;
  height: 30px;
  padding: 5px;
  width: 100px;
  border-radius: 2px;
  margin: 20px;
}

.button:hover {
  color: #414833;
  background-color: #c2c5aa;
}

.game {
  background-color: #000000;
  border: 1px solid gold;
  color: gold;
  filter: drop-shadow(9px 14px 81px #6d6161);
  margin: 50px auto;
  padding: 50px 30px;
  width: 600px;
  height: auto;
  border-radius: 2px;
}
.gamename {
  text-decoration: underline;
}

.game img {
  box-shadow: 2px 4px 15px 0 #414833;
  border-radius: 4px;
  width: 500px;
  border: 1px solid gold;
}

.grid {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  border: 1px solid gold;
}
.grid-des {
  border: 1px solid gold;
}
.grid h1 {
  justify-content: center;
}

.gif {
  border-radius: 10px;
  margin-top: 20px;
}
