.paginado {
  padding: 0;
  margin: 15px;
  background: linear-gradient(
    110.1deg,
    rgba(30, 2, 83, 1) 44.2%,
    rgba(198, 55, 160, 1) 138.2%
  );
  border-radius: 5px;
}

.paginado button {
  display: inline-block;
  margin: 2px;
  padding: 8px 16px;
  text-decoration: none;
  /* border: 1px solid #b6ad90; */
  background-color: #d6d2c4;
  border-radius: 2px;
  border: none;
  color: #2b2b2b;
}

.paginado ul button:hover:not(.active) {
  background-color: #c9d8b6;
}

.paginado ul button.active {
  background-color: #2b2b2b;
  color: #c2c5aa;
}

.paginado ul {
  padding: 5px 30px;
}

.paginado ul button.hidden {
  visibility: hidden;
}
